$accordion-background-color: #fff;
$accordion-border-color: #d5d5d5;
$accordion-border-radius-desktop: 1.5rem;
$accordion-border-radius-mobile: 1rem;
$accordion-border-radius-tablet: 1.25rem;
$accordion-button-color-default: #474747;
$accordion-button-color-expanded: #111;
$accordion-button-focus-color: #5e9c11;
$accordion-button-gap: 0.75rem;
$accordion-button-hover-background-color: #f5f5f5;
$accordion-button-padding-desktop-horizontal-body2: 1.5rem;
$accordion-button-padding-desktop-horizontal-heading5: 2rem;
$accordion-button-padding-desktop-vertical-body2: 1rem;
$accordion-button-padding-desktop-vertical-heading5: 1.5rem;
$accordion-button-padding-mobile-horizontal-body2: 1rem;
$accordion-button-padding-mobile-horizontal-heading5: 1.25rem;
$accordion-button-padding-mobile-vertical-body2: 1rem;
$accordion-button-padding-mobile-vertical-heading5: 1rem;
$accordion-button-padding-tablet-horizontal-body2: 1.5rem;
$accordion-button-padding-tablet-horizontal-heading5: 1.5rem;
$accordion-button-padding-tablet-vertical-body2: 1rem;
$accordion-button-padding-tablet-vertical-heading5: 1.25rem;
$accordion-content-padding-desktop-bottom-body2: 1.5rem;
$accordion-content-padding-desktop-bottom-heading5: 2rem;
$accordion-content-padding-desktop-horizontal-body2: 1.5rem;
$accordion-content-padding-desktop-horizontal-heading5: 2rem;
$accordion-content-padding-desktop-top-body2: 0.25rem;
$accordion-content-padding-desktop-top-heading5: 0.5rem;
$accordion-content-padding-mobile-bottom-body2: 1rem;
$accordion-content-padding-mobile-bottom-heading5: 1.5rem;
$accordion-content-padding-mobile-horizontal-body2: 1rem;
$accordion-content-padding-mobile-horizontal-heading5: 1.25rem;
$accordion-content-padding-mobile-top-body2: 0.25rem;
$accordion-content-padding-mobile-top-heading5: 0.25rem;
$accordion-content-padding-tablet-bottom-body2: 1.5rem;
$accordion-content-padding-tablet-bottom-heading5: 1.5rem;
$accordion-content-padding-tablet-horizontal-body2: 1.5rem;
$accordion-content-padding-tablet-horizontal-heading5: 1.5rem;
$accordion-content-padding-tablet-top-body2: 0.25rem;
$accordion-content-padding-tablet-top-heading5: 0.25rem;
$accordion-expand-collapse-button-margin-bottom: 0.75rem;
$accordion-left-icon-size: 1.5rem;
$accordion-spaced-gap: 1rem;
$accordion-subtitle-padding-top: 0.75rem;
$accordion-title-font-weight-expanded: 600;
$accordion-title-icon-wrapper-gap: 0.75rem;
$accordion-title-wrapper-gap: 1rem;
$accordions-expand-collapse-buttons-gap: 1.5rem;
$animation-timing-ease-in-back: cubic-bezier(0.36, 0, 0.66, -0.56);
$animation-timing-ease-in-circ: cubic-bezier(0.55, 0, 1, 0.45);
$animation-timing-ease-in-cubic: cubic-bezier(0.32, 0, 0.67, 0);
$animation-timing-ease-in-expo: cubic-bezier(0.7, 0, 0.84, 0);
$animation-timing-ease-in-out-back: cubic-bezier(0.68, -0.6, 0.32, 1.6);
$animation-timing-ease-in-out-circ: cubic-bezier(0.85, 0, 0.15, 1);
$animation-timing-ease-in-out-cubic: cubic-bezier(0.65, 0, 0.35, 1);
$animation-timing-ease-in-out-expo: cubic-bezier(0.87, 0, 0.13, 1);
$animation-timing-ease-in-out-quad: cubic-bezier(0.45, 0, 0.55, 1);
$animation-timing-ease-in-out-quart: cubic-bezier(0.76, 0, 0.24, 1);
$animation-timing-ease-in-out-quint: cubic-bezier(0.83, 0, 0.17, 1);
$animation-timing-ease-in-out-sine: cubic-bezier(0.37, 0, 0.63, 1);
$animation-timing-ease-in-quad: cubic-bezier(0.11, 0, 0.5, 0);
$animation-timing-ease-in-quart: cubic-bezier(0.5, 0, 0.75, 0);
$animation-timing-ease-in-quint: cubic-bezier(0.64, 0, 0.78, 0);
$animation-timing-ease-in-sine: cubic-bezier(0.12, 0, 0.39, 0);
$animation-timing-ease-out-back: cubic-bezier(0.34, 1.56, 0.64, 1);
$animation-timing-ease-out-circ: cubic-bezier(0, 0.55, 0.45, 1);
$animation-timing-ease-out-cubic: cubic-bezier(0.33, 1, 0.68, 1);
$animation-timing-ease-out-expo: cubic-bezier(0.16, 1, 0.3, 1);
$animation-timing-ease-out-quad: cubic-bezier(0.5, 1, 0.89, 1);
$animation-timing-ease-out-quart: cubic-bezier(0.25, 1, 0.5, 1);
$animation-timing-ease-out-quint: cubic-bezier(0.22, 1, 0.36, 1);
$animation-timing-ease-out-sine: cubic-bezier(0.61, 1, 0.88, 1);
$avatar-background-color: #d5d5d5;
$avatar-border-radius: 50%;
$avatar-font-size-large-desktop: 1.125rem;
$avatar-font-size-large-mobile: 1rem;
$avatar-font-size-large-tablet: 1.0625rem;
$avatar-font-size-medium-desktop: 1rem;
$avatar-font-size-medium-mobile: 0.875rem;
$avatar-font-size-medium-tablet: 0.9375rem;
$avatar-font-size-small-desktop: 0.875rem;
$avatar-font-size-small-mobile: 0.75rem;
$avatar-font-size-small-tablet: 0.8125rem;
$avatar-font-size-xlarge-desktop: 1.25rem;
$avatar-font-size-xlarge-mobile: 1.125rem;
$avatar-font-size-xlarge-tablet: 1.1875rem;
$avatar-font-size-xsmall: 0.75rem;
$avatar-font-weight-strong: 600;
$avatar-foreground-color-dark: #333;
$avatar-foreground-color-light: #e8e8e8;
$avatar-icon-size-large: 1.75rem;
$avatar-icon-size-medium: 1.625rem;
$avatar-icon-size-small: 1.5rem;
$avatar-icon-size-xlarge: 2rem;
$avatar-icon-size-xsmall: 1.25rem;
$avatar-size-large-desktop: 3.5rem;
$avatar-size-large-mobile: 3rem;
$avatar-size-large-tablet: 3.25rem;
$avatar-size-medium-desktop: 3rem;
$avatar-size-medium-mobile: 2.5rem;
$avatar-size-medium-tablet: 2.75rem;
$avatar-size-small-mobile: 2.5rem;
$avatar-size-xlarge-desktop: 4rem;
$avatar-size-xlarge-mobile: 3.5rem;
$avatar-size-xlarge-tablet: 3.75rem;
$avatar-size-xsmall: 1.5rem;
$background-color-brand: #5e9c11;
$background-color-dark: #111;
$background-color-gray: #e8e8e8;
$background-color-light: #fff;
$background-color-none: transparent;
$border-radius-1: 0.125rem;
$border-radius-2: 0.25rem;
$border-radius-3: 0.5rem;
$border-radius-4: 1rem;
$border-radius-5: 1.5rem;
$border-radius-6: 2rem;
$border-radius-circle: 50%;
$border-radius-rounded: 10rem;
$border-style-dashed: dashed;
$border-style-dotted: dotted;
$border-style-solid: solid;
$border-width-medium: 2px;
$border-width-none: 0;
$border-width-thick: 4px;
$border-width-thin: 1px;
$breadcrumb-item-separator-margin-horizontal: 0.5rem;
$breakpoint-max-width-desktop-large: 1919px;
$breakpoint-max-width-desktop-small: 1439px;
$breakpoint-max-width-mobile-large: 428px;
$breakpoint-max-width-mobile-small: 319px;
$breakpoint-max-width-tablet-large: 1023px;
$breakpoint-max-width-tablet-small: 768px;
$breakpoint-min-width-desktop-large: 1920px;
$breakpoint-min-width-desktop-small: 1440px;
$breakpoint-min-width-mobile-large: 429px;
$breakpoint-min-width-mobile-small: 320px;
$breakpoint-min-width-tablet-large: 1024px;
$breakpoint-min-width-tablet-small: 769px;
$caption-margin-bottom: 1.5rem;
$chip-background-color-checked-default: #007c8c;
$chip-background-color-checked-focus: #004964;
$chip-background-color-checked-focus-visible: #c7f9ee;
$chip-background-color-checked-hover: #006178;
$chip-background-color-default: #f5f5f5;
$chip-background-color-focus-hover: #c7f9ee;
$chip-background-color-hover: #c7f9ee;
$chip-border-radius: 0.25rem;
$chip-box-shadow-checked-default: inset 0 0 0 0.0625rem #8c8c8c;
$chip-box-shadow-checked-focus-hover: inset 0 0 0 0.125rem #289b9f;
$chip-box-shadow-default: inset 0 0 0 0.0625rem #d5d5d5;
$chip-box-shadow-focus: inset 0 0 0 0.125rem #289b9f;
$chip-box-shadow-hover: inset 0 0 0 0.0625rem #c7f9ee;
$chip-divider-color-default: #d5d5d5;
$chip-divider-color-hover: #289b9f;
$chip-divider-padding-desktop: 0 0.375rem 0 0.625rem;
$chip-divider-padding-mobile: 0 0.25rem 0 0.625rem;
$chip-divider-padding-tablet: 0 0.25rem 0 0.5rem;
$chip-icon-checked-wrapper-height: 1rem;
$chip-icon-checked-wrapper-width: 1rem;
$chip-icon-close-height: 0.75rem;
$chip-icon-close-margin: -2px;
$chip-icon-close-padding: 0.375rem;
$chip-icon-wrapper-padding-right: 0.25rem;
$chip-list-gap: 0.75rem;
$chip-padding-desktop: 0.5rem 0.75rem;
$chip-padding-mobile: 0.25rem 0.5rem;
$chip-padding-tablet: 0.375rem 0.625rem;
$chip-text-color-white: #fff;
$chip-text-line-height: calc(1em + 6px);
$color-black: #000;
$color-blue-10: #d1e2f3;
$color-blue-20: #a4c3fd;
$color-blue-30: #76a1fb;
$color-blue-40: #5484f8;
$color-blue-5: #eff5ff;
$color-blue-50: #1d56f4;
$color-blue-60: #1542d1;
$color-blue-70: #0e30af;
$color-blue-80: #09218d;
$color-blue-90: #051675;
$color-gray-10: #f5f5f5;
$color-gray-20: #e8e8e8;
$color-gray-30: #d5d5d5;
$color-gray-40: #8c8c8c;
$color-gray-5: #fafafa;
$color-gray-50: #707070;
$color-gray-60: #474747;
$color-gray-70: #333;
$color-gray-80: #222;
$color-gray-90: #111;
$color-green-10: #f0fad4;
$color-green-20: #bee37c;
$color-green-30: #8fc340;
$color-green-40: #5e9c11;
$color-green-5: #f7fce9;
$color-green-50: #417514;
$color-green-60: #360;
$color-green-70: #1d4900;
$color-green-80: #143b00;
$color-green-90: #0e3000;
$color-orange-10: #fdeecc;
$color-orange-20: #fcd999;
$color-orange-30: #f8bc66;
$color-orange-40: #f29f40;
$color-orange-5: #fef6ef;
$color-orange-50: #ea7405;
$color-orange-60: #c95903;
$color-orange-70: #a84102;
$color-orange-80: #872d01;
$color-orange-90: #702000;
$color-primary-gray-dark: #111;
$color-primary-gray-mid: #707070;
$color-primary-green: #417514;
$color-primary-teal: #007c8c;
$color-purple-10: #fad4f4;
$color-purple-20: #f5acf0;
$color-purple-30: #e37de3;
$color-purple-40: #bf57c7;
$color-purple-5: #fef2fc;
$color-purple-50: #9029a3;
$color-purple-60: #721d8c;
$color-purple-70: #571475;
$color-purple-80: #350d5e;
$color-purple-90: #2d074e;
$color-red-10: #fde5d2;
$color-red-20: #fbc4a5;
$color-red-30: #f49a77;
$color-red-40: #ea7153;
$color-red-5: #fef5ed;
$color-red-50: #dd3721;
$color-red-60: #be1e18;
$color-red-70: #9f1016;
$color-red-80: #800a18;
$color-red-90: #6a061a;
$color-secondary-gray-dark: #333;
$color-secondary-gray-light: #8c8c8c;
$color-secondary-gray-lightest: #f5f5f5;
$color-secondary-green-dark: #1d4900;
$color-secondary-green-light: #5e9c11;
$color-secondary-green-lightest: #f0fad4;
$color-secondary-green-mid: #360;
$color-secondary-teal-dark: #004964;
$color-secondary-teal-light: #289b9f;
$color-secondary-teal-lightest: #c7f9ee;
$color-secondary-teal-mid: #006178;
$color-teal-10: #c7f9ee;
$color-teal-20: #92f3e7;
$color-teal-30: #58dcd6;
$color-teal-40: #289b9f;
$color-teal-5: #ebfdf9;
$color-teal-50: #007c8c;
$color-teal-60: #006178;
$color-teal-70: #004964;
$color-teal-80: #003451;
$color-teal-90: #002643;
$color-white: #fff;
$color-yellow-10: #fbf3cf;
$color-yellow-20: #f8e5a0;
$color-yellow-30: #eccc6e;
$color-yellow-40: #dab048;
$color-yellow-5: #fdf9e7;
$color-yellow-50: #c28b15;
$color-yellow-60: #a6710f;
$color-yellow-70: #8b5a0a;
$color-yellow-80: #704406;
$color-yellow-90: #5d3504;
$container-inner-height-full: 100%;
$container-inner-margin: auto;
$container-inner-width-full: 100%;
$container-inner-width-max: 1280px;
$container-outer-display: flex;
$container-outer-height-full: 100vh;
$container-outer-padding-large: 32px;
$container-outer-padding-none: 0;
$container-outer-padding-small: 16px;
$container-outer-width: 100%;
$container-vertical-spacing-0: 0;
$container-vertical-spacing-10: 0.125rem;
$container-vertical-spacing-100: 4rem;
$container-vertical-spacing-110: 5rem;
$container-vertical-spacing-120: 6rem;
$container-vertical-spacing-130: 10rem;
$container-vertical-spacing-20: 0.25rem;
$container-vertical-spacing-30: 0.5rem;
$container-vertical-spacing-40: 0.75rem;
$container-vertical-spacing-50: 1rem;
$container-vertical-spacing-60: 1.5rem;
$container-vertical-spacing-70: 2rem;
$container-vertical-spacing-80: 2.5rem;
$container-vertical-spacing-90: 3rem;
$cta-alternate-background-color-default: #fff;
$cta-alternate-border-color-default: transparent;
$cta-alternate-box-shadow-color-focus: #289b9f;
$cta-alternate-box-shadow-default: 0 1px 4px rgb(0 0 0 / 16%);
$cta-alternate-box-shadow-hover: 0 2px 8px rgb(0 0 0 / 24%);
$cta-alternate-color-default: #007c8c;
$cta-alternate-color-focus: #004964;
$cta-alternate-color-hover: #004964;
$cta-base-background-color-disabled: #e8e8e8;
$cta-base-border-color-disabled: #e8e8e8;
$cta-base-border-radius: 10rem;
$cta-base-border-style: solid;
$cta-base-border-width: 1px;
$cta-base-box-shadow-blur-radius: 0;
$cta-base-box-shadow-color-focus: transparent;
$cta-base-color-disabled: #474747;
$cta-base-cursor-default: pointer;
$cta-base-cursor-disabled: not-allowed;
$cta-base-cursor-loading: wait;
$cta-base-horizontal-padding-default: calc(2em - 12px);
$cta-base-horizontal-padding-with-icon: calc(2em - 15px);
$cta-base-line-height: calc(1em + 4px);
$cta-base-transition-duration: 250ms;
$cta-base-transition-timing: cubic-bezier(0.55, 0.85, 0.85, 1);
$cta-base-vertical-padding-default: calc(1.5em - 11px);
$cta-base-vertical-padding-icon-only: calc(1.5em - 9px);
$cta-base-vertical-padding-icon-only-small: calc(1em - 9px);
$cta-box-shadow-blur-radius: 0;
$cta-box-shadow-offset-x: 0;
$cta-box-shadow-offset-y: 0;
$cta-box-shadow-spread-radius-large: 4px;
$cta-box-shadow-spread-radius-small: 2px;
$cta-children-gap: 0.4em;
$cta-critical-background-color-default: transparent;
$cta-critical-background-color-focus: transparent;
$cta-critical-background-color-hover: transparent;
$cta-critical-border-color-default: #dd3721;
$cta-critical-border-color-focus: #9f1016;
$cta-critical-border-color-hover: #9f1016;
$cta-critical-box-shadow-color-one-focus: #9f1016;
$cta-critical-box-shadow-color-two-focus: #ea7153;
$cta-critical-box-shadow-spread-radius-hover: 1px;
$cta-critical-box-shadow-spread-radius-one-focus: 1px;
$cta-critical-box-shadow-spread-radius-two-focus: 5px;
$cta-critical-color-default: #dd3721;
$cta-critical-color-focus: #9f1016;
$cta-critical-color-hover: #9f1016;
$cta-font-family: "Source Sans 3", -apple-system, blinkmacsystemfont, helvetica,
  sans-serif;
$cta-group-item-margin-right: 0.5rem;
$cta-line-height: 1;
$cta-primary-background-color-default: #417514;
$cta-primary-background-color-focus: #1d4900;
$cta-primary-background-color-hover: #1d4900;
$cta-primary-border-color-default: transparent;
$cta-primary-box-shadow-color: #5e9c11;
$cta-primary-color-default: #fff;
$cta-primary-color-hover: #fff;
$cta-primary-reversed-background-color-default: #fff;
$cta-primary-reversed-background-color-disabled: #8c8c8c;
$cta-primary-reversed-background-color-focus: #fff;
$cta-primary-reversed-background-color-hover: #d5d5d5;
$cta-primary-reversed-border-color-default: transparent;
$cta-primary-reversed-border-color-disabled: #8c8c8c;
$cta-primary-reversed-border-color-focus: #333;
$cta-primary-reversed-box-shadow-color: #fff;
$cta-primary-reversed-color-default: #222;
$cta-primary-reversed-color-disabled: #222;
$cta-primary-reversed-color-hover: #111;
$cta-secondary-background-color-default: transparent;
$cta-secondary-background-color-focus: transparent;
$cta-secondary-background-color-hover: transparent;
$cta-secondary-border-color-default: #007c8c;
$cta-secondary-border-color-focus: #004964;
$cta-secondary-border-color-hover: #004964;
$cta-secondary-box-shadow-color-one-focus: #004964;
$cta-secondary-box-shadow-color-two-focus: #289b9f;
$cta-secondary-box-shadow-spread-radius-hover: 1px;
$cta-secondary-box-shadow-spread-radius-one-focus: 1px;
$cta-secondary-box-shadow-spread-radius-two-focus: 5px;
$cta-secondary-color-default: #007c8c;
$cta-secondary-color-focus: #004964;
$cta-secondary-color-hover: #004964;
$cta-secondary-reversed-background-color-default: transparent;
$cta-secondary-reversed-background-color-disabled: #8c8c8c;
$cta-secondary-reversed-background-color-focus: transparent;
$cta-secondary-reversed-background-color-hover: transparent;
$cta-secondary-reversed-border-color-default: #fff;
$cta-secondary-reversed-border-color-disabled: #8c8c8c;
$cta-secondary-reversed-border-color-focus: #fff;
$cta-secondary-reversed-border-color-hover: #fff;
$cta-secondary-reversed-box-shadow-color-focus: #fff;
$cta-secondary-reversed-box-shadow-spread-radius-hover: 1px;
$cta-secondary-reversed-color-default: #fff;
$cta-secondary-reversed-color-disabled: #222;
$cta-secondary-reversed-color-focus: #fff;
$cta-secondary-reversed-color-hover: #fff;
$cta-text-align: center;
$cta-text-base-border-color-default: transparent;
$cta-text-base-border-radius: 0.2em;
$cta-text-base-outline: 2px solid;
$cta-text-base-outline-offset: 0.25rem;
$cta-text-base-padding-default: 0;
$cta-text-critical-color-default: #dd3721;
$cta-text-critical-color-focus: #9f1016;
$cta-text-critical-color-hover: #9f1016;
$cta-text-critical-focus-outline-color: #ea7153;
$cta-text-primary-color-default: #007c8c;
$cta-text-primary-color-focus: #004964;
$cta-text-primary-color-hover: #004964;
$cta-text-primary-focus-outline-color: #289b9f;
$cta-text-reversed-background-color-disabled: #8c8c8c;
$cta-text-reversed-border-color-disabled: #8c8c8c;
$cta-text-reversed-box-shadow-color-focus: #fff;
$cta-text-reversed-color-default: #fff;
$cta-text-reversed-color-disabled: #222;
$cta-text-reversed-color-focus: #fff;
$cta-text-reversed-color-hover: #fff;
$cta-text-secondary-color-default: #707070;
$cta-text-secondary-color-focus: #333;
$cta-text-secondary-color-hover: #333;
$cta-text-secondary-focus-outline-color: #8c8c8c;
$details-content-border-color: #e8e8e8;
$details-content-border-width: 3px;
$details-content-margin-left: 10px;
$details-content-margin-top: 0.25rem;
$details-content-padding-left: 1rem;
$drawer-backdrop-color-dark: rgb(0 0 0 / 40%);
$drawer-backdrop-color-light: rgb(245 245 245 / 90%);
$drawer-backdrop-padding-desktop: 2rem;
$drawer-backdrop-padding-mobile: 1rem;
$drawer-backdrop-padding-tablet: 1.5rem;
$drawer-body-margin-bottom: 1.5rem;
$drawer-close-color: #707070;
$drawer-close-padding: 1rem;
$drawer-dynamic-title-entry-transition: all 400ms ease-out;
$drawer-dynamic-title-exit-transition: all 250ms ease-in;
$drawer-element-background: #fff;
$drawer-element-box-shadow: 0 4px 24px rgb(0 0 0 / 16%);
$drawer-footer-padding-desktop: 2.5rem;
$drawer-footer-padding-mobile: 1.5rem;
$drawer-footer-padding-tablet: 2rem;
$drawer-header-close-column-width: auto;
$drawer-height: 100vh;
$drawer-padding-horizontal-desktop: 2.5rem;
$drawer-padding-horizontal-mobile: 1.5rem;
$drawer-padding-horizontal-tablet: 2rem;
$drawer-padding-vertical-desktop: 3rem;
$drawer-padding-vertical-mobile: 1.5rem;
$drawer-padding-vertical-tablet: 2rem;
$drawer-size-full-height: 100vh;
$drawer-size-full-width: 100vw;
$drawer-size-lg: 50%;
$drawer-size-md: 33%;
$drawer-size-sm: 25%;
$drawer-size-xl: 75%;
$element-mark-background-color: #f0fad4;
$elevation-high: 0 4px 24px rgb(0 0 0 / 16%);
$elevation-low: 0 1px 4px rgb(0 0 0 / 16%);
$elevation-medium: 0 2px 8px rgb(0 0 0 / 24%);
$error-summary-background-color-interacted: #fde5d2;
$error-summary-border-color: #dd3721;
$error-summary-border-radius-desktop: 1.25rem;
$error-summary-border-radius-mobile: 0.75rem;
$error-summary-border-radius-tablet: 1rem;
$error-summary-border-width: 2px;
$error-summary-icon-spacing: 0.5rem;
$error-summary-menu-text-margin-bottom: 0.75rem;
$error-summary-padding-bottom-desktop: 1rem;
$error-summary-padding-bottom-mobile: 0.5rem;
$error-summary-padding-bottom-tablet: 0.75rem;
$error-summary-padding-left: 0.5rem;
$error-summary-padding-right: 0.5rem;
$error-summary-text-color-default: #be1e18;
$error-summary-text-color-interacted: #9f1016;
$error-summary-text-padding-left: 0.75rem;
$error-summary-text-padding-right: 0.75rem;
$error-summary-title-padding-top: 1.25em;
$fade-background-gradient-bottom: linear-gradient(
  180deg,
  rgb(255 255 255 / 0%) 0%,
  #fff 100%
);
$fade-background-gradient-left: linear-gradient(
  270deg,
  rgb(255 255 255 / 0%) 0%,
  #fff 100%
);
$fade-background-gradient-right: linear-gradient(
  90deg,
  rgb(255 255 255 / 0%) 0%,
  #fff 100%
);
$fade-background-gradient-top: linear-gradient(
  0deg,
  rgb(255 255 255 / 0%) 0%,
  #fff 100%
);
$fade-gradient-height: 1.5rem;
$fade-gradient-width: 3rem;
$fieldset-children-gap: 1.5rem;
$fieldset-children-margin-top-large: 0.75rem;
$fieldset-children-margin-top-small: 0.5rem;
$fieldset-legend-gap: 0.5rem;
$fieldset-legend-vertical-nudge: 0.5rem;
$fieldset-popover-vertical-nudge: 0.0625rem;
$fieldset-sibling-fieldset-margin-top: 2.5rem;
$font-family-sans: "Source Sans 3", -apple-system, blinkmacsystemfont, helvetica,
  sans-serif;
$font-size-root: 100%;
$font-style-italic: italic;
$font-style-normal: normal;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$footer-disclosures-color: #474747;
$footer-disclosures-vertical-spacing: 0.75rem;
$footer-footnotes-item-active-background-color: #fff;
$footer-footnotes-item-active-border-radius: 2rem;
$footer-footnotes-item-active-box-shadow: 0 1px 4px rgb(0 0 0 / 16%);
$footer-footnotes-item-active-font-style: normal;
$footer-footnotes-item-active-font-weight: 600;
$footer-footnotes-item-active-padding-left: 3rem;
$footer-footnotes-item-active-padding-right: 1.5rem;
$footer-footnotes-item-active-padding-vertical: 1.5rem;
$footer-footnotes-item-color: #474747;
$footer-footnotes-item-font-style: italic;
$footer-footnotes-item-margin: 0.8rem 0 0;
$footer-footnotes-item-padding-left: 3rem;
$footer-icon-height: 2rem;
$footer-icon-padding: 0.5rem;
$footer-icon-spacing: 0.75rem;
$footer-icons-margin-top-default: 0.75rem;
$footer-icons-margin-top-mobile: 1rem;
$footer-legal-global-vertical-spacing: 0;
$footer-padding-bottom-desktop: 6rem;
$footer-padding-bottom-mobile: 3rem;
$footer-padding-bottom-tablet: 4rem;
$footer-padding-top-desktop: 5rem;
$footer-padding-top-mobile: 2.5rem;
$footer-padding-top-tablet: 3rem;
$footer-service-link-horizontal-space: 1.5rem;
$footer-service-link-vertical-space: 0.75rem;
$footer-stack-vertical-spacing-desktop: 6rem;
$footer-stack-vertical-spacing-mobile: 3rem;
$footer-stack-vertical-spacing-tablet: 4rem;
$form-controls-background-color-default: #fff;
$form-controls-border-color-active: #143b00;
$form-controls-border-color-default: #8c8c8c;
$form-controls-border-color-focus: #360;
$form-controls-border-color-hover: #5e9c11;
$form-controls-box-shadow-blur-radius: 0;
$form-controls-box-shadow-color-focus: #5e9c11;
$form-controls-box-shadow-offset-x: 0;
$form-controls-box-shadow-offset-y: 0;
$form-controls-box-shadow-spread-radius: 4px;
$form-controls-choice-disabled-background-color: #e8e8e8;
$form-controls-choice-disabled-border-color: #8c8c8c;
$form-controls-choice-disabled-selected-background-color: #8c8c8c;
$form-controls-choice-selected-border-color-default: #5e9c11;
$form-controls-choice-selected-border-color-hover: #360;
$form-controls-choice-selected-error-background-color-default: #dd3721;
$form-controls-choice-selected-error-background-color-focus: #9f1016;
$form-controls-choice-selected-error-background-color-hover: #9f1016;
$form-controls-disabled-background-color: #e8e8e8;
$form-controls-disabled-border-color: #8c8c8c;
$form-controls-disabled-color: #474747;
$form-controls-error-border-color-default: #dd3721;
$form-controls-error-border-color-focus: #9f1016;
$form-controls-error-border-color-hover: #9f1016;
$form-controls-error-box-shadow-color-focus: #ea7153;
$form-controls-error-color-default: #be1e18;
$form-controls-error-color-icon: #be1e18;
$form-controls-error-icon-size: 1.125rem;
$form-controls-legend-font-weight: 600;
$form-controls-padding-horizontal: 1rem;
$form-controls-padding-vertical: 1.5rem;
$gutter-spacing-0: 0;
$gutter-spacing-10: 0.125rem;
$gutter-spacing-100: 4rem;
$gutter-spacing-110: 5rem;
$gutter-spacing-120: 6rem;
$gutter-spacing-130: 10rem;
$gutter-spacing-20: 0.25rem;
$gutter-spacing-30: 0.5rem;
$gutter-spacing-40: 0.75rem;
$gutter-spacing-50: 1rem;
$gutter-spacing-60: 1.5rem;
$gutter-spacing-70: 2rem;
$gutter-spacing-80: 2.5rem;
$gutter-spacing-90: 3rem;
$header-padding-bottom: 0.75rem;
$header-padding-top: 0.75rem;
$icon-alert-error: "/path/to/icon.svg";
$icon-alert-info: "/path/to/icon.svg";
$icon-alert-success: "/path/to/icon.svg";
$icon-alert-warning: "/path/to/icon.svg";
$icon-form-controls-checkbox-indeterminate: "images/icon-checkbox-indeterminate.svg";
$icon-form-controls-checkmark: "images/icon-checkmark.svg";
$icon-general-close: "/path/to/icon.svg";
$icon-general-equal-housing: "/path/to/icon.svg";
$icon-general-question: "/path/to/icon.svg";
$icon-general-search: "/path/to/icon.svg";
$icon-height-large-desktop: 3.5rem;
$icon-height-large-mobile: 3rem;
$icon-height-large-tablet: 3.25rem;
$icon-height-medium-desktop: 3rem;
$icon-height-medium-mobile: 2.5rem;
$icon-height-medium-tablet: 2.75rem;
$icon-height-small-mobile: 2.5rem;
$icon-height-xlarge-desktop: 4rem;
$icon-height-xlarge-mobile: 3.5rem;
$icon-height-xlarge-tablet: 3.75rem;
$icon-height-xsmall-mobile: 1.5rem;
$icon-navigation-next: "/path/to/icon.svg";
$icon-navigation-previous: "/path/to/icon.svg";
$icon-size: 1em;
$icon-size-bump: 0.25rem;
$icon-social-facebook: "/path/to/icon.svg";
$icon-social-linkedin: "/path/to/icon.svg";
$icon-social-pinterest: "/path/to/icon.svg";
$icon-social-twitter: "/path/to/icon.svg";
$icon-width-large-desktop: 3.5rem;
$icon-width-large-mobile: 3rem;
$icon-width-large-tablet: 3.25rem;
$icon-width-medium-desktop: 3rem;
$icon-width-medium-mobile: 2.5rem;
$icon-width-medium-tablet: 2.75rem;
$icon-width-small-mobile: 2.5rem;
$icon-width-xlarge-desktop: 4rem;
$icon-width-xlarge-mobile: 3.5rem;
$icon-width-xlarge-tablet: 3.75rem;
$icon-width-xsmall-mobile: 1.5rem;
$inline-alert-background-color-cautionary: #fdf9e7;
$inline-alert-background-color-informative: #eff5ff;
$inline-alert-background-color-negative: #fef5ed;
$inline-alert-background-color-positive: #f7fce9;
$inline-alert-border-color-cautionary: #c28b15;
$inline-alert-border-color-informative: #1d56f4;
$inline-alert-border-color-negative: #dd3721;
$inline-alert-border-color-positive: #417514;
$inline-alert-border-width: 0.125rem;
$inline-alert-content-gap: 0.5rem;
$inline-alert-description-gap: 0.5rem;
$inline-alert-icon-color-cautionary: #c28b15;
$inline-alert-icon-color-informative: #1d56f4;
$inline-alert-icon-color-negative: #dd3721;
$inline-alert-icon-color-positive: #417514;
$inline-alert-large-border-radius-desktop: 1.25rem;
$inline-alert-large-border-radius-mobile: 0.75rem;
$inline-alert-large-border-radius-tablet: 1rem;
$inline-alert-large-cta-margin-top: 0.5rem;
$inline-alert-large-icon-wrapper-height: 26px;
$inline-alert-large-icon-wrapper-width: 26px;
$inline-alert-large-padding: 1.5rem;
$inline-alert-large-padding-right: 2.5rem;
$inline-alert-small-border-radius-mobile: 0.5rem;
$inline-alert-small-border-radius-tablet: 0.75rem;
$inline-alert-small-cta-margin-top: 0;
$inline-alert-small-icon-wrapper-height: 20px;
$inline-alert-small-icon-wrapper-width: 20px;
$inline-alert-small-padding: 0.75rem;
$inline-alert-small-padding-right: 2rem;
$input-checkbox-border-radius: 0.25rem;
$input-checkbox-border-style: solid;
$input-checkbox-border-width: 2px;
$input-checkbox-checked-background-default: #5e9c11;
$input-checkbox-checked-background-focus: #360;
$input-checkbox-checked-background-hover: #360;
$input-checkbox-checked-border-color-focus: #360;
$input-checkbox-checked-checkmark-opacity: 1;
$input-checkbox-checked-checkmark-transform-active: translateY(1px) scale(0.8);
$input-checkbox-checked-checkmark-transform-default: translateY(1px) scale(1);
$input-checkbox-checkmark-background-image: "images/icon-checkmark.svg";
$input-checkbox-checkmark-background-position: 50%;
$input-checkbox-checkmark-background-repeat: no-repeat;
$input-checkbox-checkmark-background-size: 100%;
$input-checkbox-checkmark-opacity: 0;
$input-checkbox-checkmark-size: 28px;
$input-checkbox-checkmark-transform: translateY(1px) scale(0);
$input-checkbox-checkmark-transform-origin: center;
$input-checkbox-checkmark-transition: inherit;
$input-checkbox-description-padding-left-large: 2.5rem;
$input-checkbox-description-padding-left-small: 1.875rem;
$input-checkbox-disabled-box-shadow-hover: none;
$input-checkbox-indeterminate-background-image: "images/icon-checkbox-indeterminate.svg";
$input-checkbox-indeterminate-transform-active: translateX(2px) translateY(-1px)
  scale(0.85);
$input-checkbox-indeterminate-transform-default: translateX(2px)
  translateY(-1px) scale(1);
$input-checkbox-indeterminate-transform-large-active: translateX(3px)
  translateY(-1px) scale(0.85);
$input-checkbox-indeterminate-transform-large-default: translateX(3px)
  translateY(-1px) scale(1);
$input-checkbox-indeterminate-width-default: 18px;
$input-checkbox-indeterminate-width-large-default: 22px;
$input-checkbox-margin-right-large: 0.75rem;
$input-checkbox-margin-right-small: 0.5rem;
$input-checkbox-nudge: 1px;
$input-checkbox-select-all-children-left-margin-desktop: 1rem;
$input-checkbox-select-all-children-left-margin-mobile: 0.75rem;
$input-checkbox-select-all-children-left-margin-small: 0.75rem;
$input-checkbox-select-all-children-left-margin-tablet: 0.875rem;
$input-checkbox-size-large: 28px;
$input-checkbox-size-small: 22px;
$input-checkbox-transform-active: scale(0.8);
$input-cta-padding-large: 1rem;
$input-cta-padding-small-desktop: 0.75rem;
$input-cta-padding-small-mobile: 0.5rem;
$input-cta-padding-small-tablet: 0.625rem;
$input-field-border-radius: 0.5rem;
$input-field-border-style: solid;
$input-field-border-width: 1px;
$input-field-height-desktop: 60px;
$input-field-height-mobile: 52px;
$input-field-height-tablet: 56px;
$input-field-small-height-desktop: 48px;
$input-field-small-height-mobile: 40px;
$input-field-small-height-tablet: 44px;
$input-password-letter-spacing: 0.45em;
$input-radio-border-radius: 50%;
$input-radio-border-style: solid;
$input-radio-border-width: 2px;
$input-radio-checked-dot-transform-active: scale(0.8);
$input-radio-description-padding-left-large: 2.75rem;
$input-radio-description-padding-left-small: 2rem;
$input-radio-disabled-checked-dot-background-color-default: #fff;
$input-radio-dot-border-radius: 50%;
$input-radio-dot-size-large: 8px;
$input-radio-dot-size-small: 6px;
$input-radio-margin-right-large: 0.75rem;
$input-radio-margin-right-small: 0.5rem;
$input-radio-size-large: 30px;
$input-radio-size-small: 22px;
$input-range-appearance: none;
$input-range-background-color-default: #e8e8e8;
$input-range-background-color-disabled: #8c8c8c;
$input-range-background-gradient-default: linear-gradient(
  180deg,
  rgb(255 255 255 / 100%) 1%,
  rgb(94 156 17 / 100%) 10%
);
$input-range-background-position-default: top -5px left -1px, top left;
$input-range-background-position-disabled: top -1px left -1px, top left;
$input-range-background-repeat: no-repeat;
$input-range-border-radius: 0.25rem;
$input-range-cursor-default: pointer;
$input-range-cursor-disabled: default;
$input-range-margin-outline: none;
$input-range-margin-top: 0.75rem;
$input-range-thumb-appearance: none;
$input-range-thumb-background-color-default: #fff;
$input-range-thumb-background-color-disabled: #e8e8e8;
$input-range-thumb-border-color-default: #8c8c8c;
$input-range-thumb-border-color-disabled: #8c8c8c;
$input-range-thumb-border-color-focus: #360;
$input-range-thumb-border-color-hover: #5e9c11;
$input-range-thumb-border-radius: 0.25rem;
$input-range-thumb-border-style: solid;
$input-range-thumb-border-width: 2px;
$input-range-thumb-cursor-default: pointer;
$input-range-thumb-cursor-disabled: default;
$input-range-thumb-height: 2.375rem;
$input-range-thumb-margin-top: calc((24px / 2) - (38px / 2));
$input-range-thumb-shadow-focus: 0 0 0 4px rgb(94 156 17 / 100%);
$input-range-thumb-width: 1rem;
$input-range-track-appearance: none;
$input-range-track-background-color-default: #e8e8e8;
$input-range-track-background-color-disabled: #8c8c8c;
$input-range-track-background-default: transparent;
$input-range-track-background-disabled: linear-gradient(
  180deg,
  rgb(255 255 255 / 100%) 1%,
  rgb(140 140 140 / 100%) 10%
);
$input-range-track-height: 1.5rem;
$input-switch-background-color-disabled-default: #d5d5d5;
$input-switch-border-radius: 2rem;
$input-switch-checked-background-color: #5e9c11;
$input-switch-checked-border: 2px solid $color-green-40;
$input-switch-checked-border-disabled: 2px solid $color-gray-40;
$input-switch-checked-border-hover: 2px solid $color-green-60;
$input-switch-checked-disabled-background-color: #8c8c8c;
$input-switch-checked-large-transform: translateX(2rem);
$input-switch-checked-medium-transform: translateX(1.5rem);
$input-switch-checked-small-transform: translate(1rem);
$input-switch-focus-background-color: #360;
$input-switch-focus-visible: 0 0 0 4px $color-green-40;
$input-switch-height-large: 2.75rem;
$input-switch-height-medium: 1.875rem;
$input-switch-height-small: 1.375rem;
$input-switch-hover-background-color: #360;
$input-switch-icon-animation: fadein ease-in-out 1s forwards;
$input-switch-icon-height-width-large: 1.5rem;
$input-switch-icon-height-width-medium: 0.875rem;
$input-switch-icon-height-width-small: 0.75rem;
$input-switch-label-font-size-large: 1.25rem;
$input-switch-label-font-size-medium: 1.125rem;
$input-switch-label-font-size-small: 1rem;
$input-switch-label-margin-left: 0.5rem;
$input-switch-large-icon-transform-mobile: translate(2.6rem, 0.5rem);
$input-switch-medium-icon-transform-mobile: translate(1.95rem, 0.15rem);
$input-switch-medium-icon-transform-tablet: translate(1.95rem, 0.05rem);
$input-switch-outline-border: 2px solid $color-gray-40;
$input-switch-small-icon-transform-mobile: translate(1.2rem, -0.15rem);
$input-switch-small-icon-transform-tablet: translate(1.2rem, -0.25rem);
$input-switch-switch-background-color-checked: #fff;
$input-switch-switch-background-color-default: #8c8c8c;
$input-switch-switch-height-width-large: 2rem;
$input-switch-switch-height-width-medium: 1.25rem;
$input-switch-switch-height-width-small: 0.875rem;
$input-switch-switch-position-left-large: 0.375rem;
$input-switch-switch-position-left-medium: 0.25rem;
$input-switch-switch-position-left-small: 0.125rem;
$input-switch-switch-position-top-large: 0.25rem;
$input-switch-switch-position-top-medium: 0.188rem;
$input-switch-switch-position-top-small: 0.125rem;
$input-switch-transition-duration: 0.5s;
$input-switch-width-large: 5rem;
$input-switch-width-medium: 3.5rem;
$input-switch-width-small: 2.5rem;
$input-text-border-color-hover: #5e9c11;
$input-text-box-shadow-error: #ea7153;
$input-text-nudge: 1px;
$input-text-padding-horizontal-desktop: 1rem;
$input-text-padding-horizontal-mobile: 1rem;
$input-text-padding-horizontal-small-desktop: 1rem;
$input-text-padding-horizontal-small-mobile: 1rem;
$input-text-padding-horizontal-small-tablet: 1rem;
$input-text-padding-horizontal-tablet: 1rem;
$input-text-padding-vertical-desktop: 1rem;
$input-text-padding-vertical-mobile: 0.75rem;
$input-text-padding-vertical-small-desktop: 0.5rem;
$input-text-padding-vertical-small-mobile: 0.5rem;
$input-text-padding-vertical-small-tablet: 0.5rem;
$input-text-padding-vertical-tablet: 0.75rem;
$link-text-decoration-thickness: 0.05em;
$link-text-underline-offset: 0.15em;
$list-border-color: #d5d5d5;
$list-item-padding-left: 2.5rem;
$list-nested-list-padding-left: 1rem;
$list-padding-large: 1rem;
$list-padding-medium: 0.75rem;
$list-padding-small: 0.5rem;
$logo-lockup-green-fill: #580;
$logo-lockup-height: 28px;
$logo-lockup-white-fill: #fff;
$logo-lockup-width: 166px;
$logo-pyramid-green-fill: #8b0;
$logo-pyramid-height: 28px;
$logo-pyramid-white-fill: #fff;
$logo-pyramid-width: 40px;
$menu-cta-color: #111;
$menu-cta-font-weight: 400;
$menu-divider-margin-horizontal: 0.5rem;
$menu-divider-margin-vertical: 1rem;
$menu-list-item-margin-bottom: 0.25rem;
$menu-list-nested-list-padding-left-tablet: 3rem;
$menu-text-color: #111;
$menu-text-is-indented-padding-horizontal: 3em;
$menu-text-is-indented-padding-vertical: 0;
$menu-text-padding-horizontal: 1.25em;
$menu-text-padding-vertical: 0;
$modal-backdrop-color-dark: rgb(0 0 0 / 40%);
$modal-backdrop-color-light: rgb(245 245 245 / 90%);
$modal-backdrop-height: 100vh;
$modal-backdrop-padding-desktop: 2rem;
$modal-backdrop-padding-mobile: 1rem;
$modal-backdrop-padding-tablet: 1.5rem;
$modal-body-margin-bottom: 1.5rem;
$modal-border-radius-desktop: 1.5rem;
$modal-border-radius-mobile: 1rem;
$modal-border-radius-tablet: 1.25rem;
$modal-close-color: #707070;
$modal-close-padding: 1rem;
$modal-dynamic-title-entry-transition: all 400ms ease-out;
$modal-dynamic-title-exit-transition: all 250ms ease-in;
$modal-element-background: #fff;
$modal-element-box-shadow: 0 4px 24px rgb(0 0 0 / 16%);
$modal-element-max-width: 846px;
$modal-element-min-width: 410px;
$modal-footer-ctas-gap: 1.5rem;
$modal-footer-padding-desktop: 2.5rem;
$modal-footer-padding-mobile: 1.5rem;
$modal-footer-padding-tablet: 2rem;
$modal-header-close-column-width: auto;
$modal-padding-horizontal-desktop: 2.5rem;
$modal-padding-horizontal-mobile: 1.5rem;
$modal-padding-horizontal-tablet: 2rem;
$modal-padding-vertical-desktop: 3rem;
$modal-padding-vertical-mobile: 1.5rem;
$modal-padding-vertical-tablet: 2rem;
$notification-banner-action-line-height: calc(1em + 4px);
$notification-banner-background-color: #fff;
$notification-banner-border-color-informative: #1542d1;
$notification-banner-border-color-negative: #be1e18;
$notification-banner-border-color-neutral: #d5d5d5;
$notification-banner-border-radius-desktop: 1.25rem;
$notification-banner-border-radius-mobile: 0.75rem;
$notification-banner-border-radius-tablet: 1rem;
$notification-banner-border-width: 0.125rem;
$notification-banner-close-icon-height: 0.875rem;
$notification-banner-close-icon-vertical-transform: translateY(0.25rem);
$notification-banner-close-icon-width: 0.875rem;
$notification-banner-close-padding-left: 1rem;
$notification-banner-close-wrapper-margin: 0.5rem;
$notification-banner-content-gap: 0.5rem;
$notification-banner-content-margin-left: 0.5rem;
$notification-banner-cta-margin-left: 0.5rem;
$notification-banner-description-gap: 0.5rem;
$notification-banner-icon-color-informative: #1542d1;
$notification-banner-icon-color-negative: #be1e18;
$notification-banner-icon-color-neutral: #111;
$notification-banner-icon-height: 1.25rem;
$notification-banner-icon-width: 1.25rem;
$notification-banner-icon-wrapper-vertical-transform: translateY(0.125rem);
$notification-banner-padding: 0.75rem;
$notification-banner-title-font-weight: 600;
$pagination-cta-background-color-active: #007c8c;
$pagination-cta-background-color-focus: #c7f9ee;
$pagination-cta-background-color-focus-not-focus-visible: #004964;
$pagination-cta-background-color-hover: #c7f9ee;
$pagination-cta-box-shadow-focus: #289b9f;
$pagination-cta-box-shadow-focus-not-focus-visible: none;
$pagination-cta-color-active: #fff;
$pagination-cta-color-default: #007c8c;
$pagination-cta-color-focus: #004964;
$pagination-cta-color-focus-not-focus-visible: #fff;
$pagination-cta-color-hover: #004964;
$pagination-ellipses-color: #707070;
$pagination-ellipses-min-width: 2.9375rem;
$pagination-ellipses-text-align: center;
$pagination-inner-wrapper-gap: 0.5rem;
$pagination-label-color: #707070;
$pagination-label-vertical-pull: 0.6rem;
$pagination-list-gap-horizontal: 0.5rem;
$pagination-page-count-color: #707070;
$pagination-page-count-margin-left: 1.2rem;
$pagination-page-count-margin-left-tablet-small-width: 1.3rem;
$pagination-page-count-min-width: 3.125rem;
$pagination-page-count-text-align: center;
$pagination-wrapper-gap-mobile: 0.5rem;
$pagination-wrapper-gap-tablet: 1rem;
$popover-box-shadow: 0 4px 24px rgb(0 0 0 / 16%);
$popover-dialog-background-color: #fff;
$popover-dialog-border-radius-desktop: 1.25rem;
$popover-dialog-border-radius-mobile: 0.75rem;
$popover-dialog-border-radius-tablet: 1rem;
$popover-dialog-min-width: 200px;
$popover-dialog-padding: 1.5rem;
$popover-dialog-text-color: #111;
$popover-pointer-height: 1em;
$popover-pointer-width-max: 2.9em;
$popover-pointer-width-min: 10px;
$popover-pointer-width-scaler: 12vw;
$progress-indicator-step-border-radius: 0.0625rem;
$progress-indicator-step-gap: 0.25rem;
$progress-indicator-step-height: 0.125rem;
$progress-indicator-step-is-complete: #5e9c11;
$progress-indicator-step-is-not-complete: #e8e8e8;
$progress-indicator-step-title-gap: 1rem;
$progress-indicator-step-title-padding-top: 1rem;
$progress-indicator-step-width: 0.125rem;
$progress-indicator-vertical-step-title-padding-bottom: 0.5rem;
$progress-indicator-vertical-step-title-padding-left: 1rem;
$progress-indicator-vertical-step-title-padding-top: 0.5rem;
$scrollable-box-divider-color: #d5d5d5;
$scrollable-box-divider-gap: 1rem;
$scrollable-box-divider-width: 1px;
$scrollable-box-fade-gradient-bottom: -1px;
$scrollable-box-footer-padding-top: 1rem;
$scrollable-box-header-padding-bottom: 1rem;
$scrollable-box-outline-color: #e8e8e8;
$scrollable-box-outline-width: 3px;
$scrollable-box-padding: 1.5rem;
$search-clear-btn-padding-left: 1rem;
$search-clear-btn-position-right: 0.5rem;
$search-clear-btn-translate-top-small: 1px;
$search-icon-height-default: calc(1em + 0.65rem);
$search-icon-height-small: calc(1em + 0.25rem);
$search-icon-position-left: 0.875rem;
$search-icon-position-top-default-desktop: 1rem;
$search-icon-position-top-default-mobile: 0.8125rem;
$search-icon-position-top-default-tablet: 0.925rem;
$search-icon-position-top-small-mobile: 0.6875rem;
$search-icon-position-top-small-tablet: 0.875rem;
$search-icon-stroke-default: #111;
$search-icon-stroke-error: #dd3721;
$search-input-padding-left: 3rem;
$select-arrow-border-radius: 7px;
$select-arrow-icon-width: 14px;
$select-arrow-icon-width-small: 12px;
$select-arrow-nudge: 3px;
$select-arrow-padding-left: 1.75rem;
$select-arrow-padding-right: 1rem;
$select-arrow-padding-right-small: 0.75rem;
$select-tag-line-height: 1.25;
$shadow-10: 0 1px 4px rgb(0 0 0 / 16%);
$shadow-20: 0 2px 8px rgb(0 0 0 / 24%);
$shadow-30: 0 4px 24px rgb(0 0 0 / 16%);
$space-0: 0;
$space-10: 0.125rem; // 2px
$space-100: 4rem; // 64px
$space-110: 5rem; // 80px
$space-120: 6rem; // 96px
$space-130: 10rem; // 160px
$space-20: 0.25rem; // 4px
$space-30: 0.5rem; // 8px
$space-40: 0.75rem; // 12px
$space-50: 1rem; // 16px
$space-55: 1.25rem; // 20px
$space-60: 1.5rem; // 24px
$space-70: 2rem; // 32px
$space-80: 2.5rem; // 40px
$space-90: 3rem; // 48px
$stack-outer-alignment-center: center;
$stack-outer-display: flex;
$stack-outer-flex-direction: column;
$stack-outer-justify-content: flex-start;
$stack-outer-width: 100%;
$stack-vertical-spacing-0: 0;
$stack-vertical-spacing-10: 0.125rem;
$stack-vertical-spacing-100: 4rem;
$stack-vertical-spacing-110: 5rem;
$stack-vertical-spacing-120: 6rem;
$stack-vertical-spacing-130: 10rem;
$stack-vertical-spacing-20: 0.25rem;
$stack-vertical-spacing-30: 0.5rem;
$stack-vertical-spacing-40: 0.75rem;
$stack-vertical-spacing-50: 1rem;
$stack-vertical-spacing-60: 1.5rem;
$stack-vertical-spacing-70: 2rem;
$stack-vertical-spacing-80: 2.5rem;
$stack-vertical-spacing-90: 3rem;
$suggestions-item-background-color-active: #f0fad4;
$suggestions-item-box-shadow-color-active: #5e9c11;
$suggestions-item-color-active: #417514;
$suggestions-item-color-default: #111;
$suggestions-item-margin-bottom: 0.25rem;
$suggestions-list-fade-gradient-margin-top: 0.5rem;
$suggestions-list-max-height-desktop: 486px;
$suggestions-list-max-height-mobile: 306px;
$suggestions-list-max-height-tablet: 448px;
$suggestions-list-padding-horizontal: 0.25rem;
$tab-background-color-default: #fff;
$tab-background-color-focus: #f0fad4;
$tab-background-color-hover: #f0fad4;
$tab-border-radius: 0.75rem;
$tab-focus-outline-color: #5e9c11;
$tab-focus-outline-offset: -2px;
$tab-focus-outline-size: 0.125rem;
$tab-indicator-background-color-default: #e8e8e8;
$tab-indicator-background-color-selected: #5e9c11;
$tab-indicator-height-border-radius: 0.25rem;
$tab-label-gap: 0.5rem;
$tab-label-padding-horizontal-desktop: 1.5rem;
$tab-label-padding-horizontal-mobile: 0.5rem;
$tab-label-padding-horizontal-tablet: 0.75rem;
$tab-label-padding-vertical-desktop: 1.125rem;
$tab-label-padding-vertical-mobile: 0.9375rem;
$tab-label-padding-vertical-tablet: 1.0625rem;
$tab-panel-background-color: #fff;
$tab-panel-padding: 20px;
$tab-text-color-default: #707070;
$tab-text-color-focus: #1d4900;
$tab-text-color-hover: #417514;
$tab-text-color-selected: #111;
$table-caption-margin-bottom: 0.75rem;
$table-cell-card-view-padding-horizontal: 1.5rem;
$table-cell-card-view-padding-vertical: 0.5rem;
$table-cell-card-view-parent-header-padding-top: 3.75rem;
$table-cell-padding-horizontal: 1.5rem;
$table-cell-padding-vertical: 1rem;
$table-contained-border-color: #d5d5d5;
$table-contained-border-radius-desktop: 1.25rem;
$table-contained-border-radius-mobile: 0.75rem;
$table-contained-border-radius-tablet: 1rem;
$table-contained-inner-border-radius-desktop: 1.1875rem;
$table-contained-inner-border-radius-mobile: 0.6875rem;
$table-contained-inner-border-radius-tablet: 0.9375rem;
$table-divider-vertical-color: #d5d5d5;
$table-filter-max-width-bottom: 20rem;
$table-filter-padding-vertical: 1rem;
$table-footer-border-color: #000;
$table-header-active-background-color: #417514;
$table-header-active-color: #fff;
$table-header-background-color: #e8e8e8;
$table-lined-divider-horizontal: #d5d5d5;
$table-lined-header-background-color: #e8e8e8;
$table-pagination-ctas-gap: 1rem;
$table-pagination-padding-vertical: 1rem;
$table-parent-header-background-color: #707070;
$table-parent-header-text-color: #fff;
$table-small-cell-padding-vertical: 0.75rem;
$table-sort-icon-margin-left: 0.5rem;
$table-status-margin-bottom: 1.5rem;
$table-status-margin-top: 0.5rem;
$table-status-text-color: #474747;
$table-summary-margin-bottom: 0.5rem;
$table-zebra-background-color: #f5f5f5;
$tabs-in-tabs-top-margin: 20px;
$text-color-default: #111;
$text-non-interactive-focused-border-radius: 0.25rem;
$text-non-interactive-focused-outline: 1px dashed $color-gray-40;
$text-non-interactive-focused-outline-offset: 0.25rem;
$text-style-body-1-font-family: "Source Sans 3", -apple-system,
  blinkmacsystemfont, helvetica, sans-serif;
$text-style-body-1-font-size-desktop: 1.25rem;
$text-style-body-1-font-size-mobile: 1.125rem;
$text-style-body-1-font-size-tablet: 1.1875rem;
$text-style-body-1-font-style-italic: italic;
$text-style-body-1-font-style-normal: normal;
$text-style-body-1-font-weight-default: 400;
$text-style-body-1-font-weight-strong: 600;
$text-style-body-1-line-height: 1.5;
$text-style-body-2-font-family: "Source Sans 3", -apple-system,
  blinkmacsystemfont, helvetica, sans-serif;
$text-style-body-2-font-size-desktop: 1.125rem;
$text-style-body-2-font-size-mobile: 1rem;
$text-style-body-2-font-size-tablet: 1.0625rem;
$text-style-body-2-font-style-italic: italic;
$text-style-body-2-font-style-normal: normal;
$text-style-body-2-font-weight-default: 400;
$text-style-body-2-font-weight-strong: 600;
$text-style-body-2-line-height: 1.5;
$text-style-body-3-font-family: "Source Sans 3", -apple-system,
  blinkmacsystemfont, helvetica, sans-serif;
$text-style-body-3-font-size-desktop: 1rem;
$text-style-body-3-font-size-mobile: 0.875rem;
$text-style-body-3-font-size-tablet: 0.9375rem;
$text-style-body-3-font-style-italic: italic;
$text-style-body-3-font-style-normal: normal;
$text-style-body-3-font-weight-default: 400;
$text-style-body-3-font-weight-strong: 600;
$text-style-body-3-line-height: 1.5;
$text-style-body-4-font-family: "Source Sans 3", -apple-system,
  blinkmacsystemfont, helvetica, sans-serif;
$text-style-body-4-font-size-desktop: 0.875rem;
$text-style-body-4-font-size-mobile: 0.75rem;
$text-style-body-4-font-size-tablet: 0.8125rem;
$text-style-body-4-font-style-italic: italic;
$text-style-body-4-font-style-normal: normal;
$text-style-body-4-font-weight-default: 400;
$text-style-body-4-font-weight-strong: 600;
$text-style-body-4-line-height: 1.375;
$text-style-heading-1-font-family: "Source Sans 3", -apple-system,
  blinkmacsystemfont, helvetica, sans-serif;
$text-style-heading-1-font-size-desktop: 3.5rem;
$text-style-heading-1-font-size-mobile: 2.5rem;
$text-style-heading-1-font-size-tablet: 3rem;
$text-style-heading-1-font-weight: 300;
$text-style-heading-1-line-height: 1.125;
$text-style-heading-2-font-family: "Source Sans 3", -apple-system,
  blinkmacsystemfont, helvetica, sans-serif;
$text-style-heading-2-font-size-desktop: 3rem;
$text-style-heading-2-font-size-mobile: 2.25rem;
$text-style-heading-2-font-size-tablet: 2.5rem;
$text-style-heading-2-font-weight: 300;
$text-style-heading-2-line-height: 1.125;
$text-style-heading-3-font-family: "Source Sans 3", -apple-system,
  blinkmacsystemfont, helvetica, sans-serif;
$text-style-heading-3-font-size-desktop: 2.5rem;
$text-style-heading-3-font-size-mobile: 2rem;
$text-style-heading-3-font-size-tablet: 2.25rem;
$text-style-heading-3-font-weight: 600;
$text-style-heading-3-letter-spacing: 0.0005em;
$text-style-heading-3-line-height: 1.125;
$text-style-heading-4-font-family: "Source Sans 3", -apple-system,
  blinkmacsystemfont, helvetica, sans-serif;
$text-style-heading-4-font-size-desktop: 2rem;
$text-style-heading-4-font-size-mobile: 1.5rem;
$text-style-heading-4-font-size-tablet: 1.75rem;
$text-style-heading-4-font-style-italic: italic;
$text-style-heading-4-font-style-normal: normal;
$text-style-heading-4-font-weight: 600;
$text-style-heading-4-letter-spacing: 0.0005em;
$text-style-heading-4-line-height: 1.125;
$text-style-heading-5-font-family: "Source Sans 3", -apple-system,
  blinkmacsystemfont, helvetica, sans-serif;
$text-style-heading-5-font-size-desktop: 1.5rem;
$text-style-heading-5-font-size-mobile: 1.25rem;
$text-style-heading-5-font-size-tablet: 1.375rem;
$text-style-heading-5-font-style-italic: italic;
$text-style-heading-5-font-style-normal: normal;
$text-style-heading-5-font-weight: 600;
$text-style-heading-5-letter-spacing: 0.0005em;
$text-style-heading-5-line-height: 1.25;
$textarea-height-large: 6.6rem; // 120px
$textarea-height-small: 5.4rem;
$textarea-line-height: 1.875rem; // 30px
$textarea-padding-bottom: 0.25rem;
$textarea-padding-left: 0.75rem;
$textarea-padding-right: 0.25rem;
$textarea-padding-top-large: 0.75rem;
$textarea-padding-top-small: 0.5rem;
$textarea-resize: vertical;
$textarea-wrapper-padding: 0.25rem;
$tile-background-color: #fff;
$tile-border-radius-desktop: 1.5rem;
$tile-border-radius-mobile: 1rem;
$tile-border-radius-tablet: 1.25rem;
$tile-box-shadow-default: 0 1px 4px rgb(0 0 0 / 16%);
$tile-box-shadow-hover: 0 2px 8px rgb(0 0 0 / 24%);
$tile-padding-desktop-horizontal: 2.5rem;
$tile-padding-desktop-vertical: 2rem;
$tile-padding-mobile-horizontal: 1rem;
$tile-padding-mobile-vertical: 1rem;
$tile-padding-tablet-horizontal: 2rem;
$tile-padding-tablet-vertical: 1.5rem;
$transition-duration-quick: 250ms;
$transition-duration-slow: 600ms;